.NavBar {
    width: 100%;
    background-color: transparent;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
}
.NavBar > .active {
    background-color: #e43f5a;
    text-align: center;
    color: white;
    height: 6rem;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}