.NavigationBar {
    width: 100%;
    background-color: transparent;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    top: 0;
    position: fixed;

}